html, body { 
	height: 100%;
	margin: 0;
	padding: 0; 
	background: #333;
	font: 100%/130% "verdana", Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #8c8c8c;
	overflow-x: hidden;
}
    
a, hr {
	transition-timing-function: ease-out;
	transition: 0.8s;
	color: #8e9eae;
	text-decoration: none;
}

a.active {
	background: #000;
	border-bottom: 3px solid #999;
}

a:hover {
	transition-timing-function: ease-out;
	transition: 0.25s;
	text-decoration: underline;
	color: #b7cce2;
}

#side ul li {
	display: block;
}

#side ul a:not(.active) {
	border-bottom: 1px solid #2b2b2b;
}

#side ul a:hover:not(.active), nav a {
	background: #111;
	color: #dee7f1;
}

hr {
	border: 0;
	border-bottom:  1px solid #8e9eae;
}

code {
	background: #111;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 3p;
	border-radius: 3px;
	border: 1px solid #333;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
	height: 48px;
	background: #333;
}

#side, #side-wrap {
	min-width: 225px;
	max-width: 225px;
}

#side {
	width: 15%;
	height: 100%;
	border-right: 3px solid #2b2b2b;
	background: #191919;
	margin-left: 0;
	margin-right: 0;
	min-height: 250px;
	position: fixed;
}

#side ul {
	display: inline;
}

#side ul h1 {
	text-align: center;
	padding-bottom: 24px;
    border-bottom: 3px solid #222;
    margin-bottom: 0;
}

#side ul a, nav a {
	/*border-top: 1px solid #2b2b2b;
	border-bottom: 1px solid #2b2b2b;*/
	vertical-align: middle;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

nav a.active {
	border-bottom: 3px solid #eee;
}

/* Filler */ 
nav div {
    height: 30px;
    width: 231px;
    float: left;
}

#title {
	text-align: center;
    height: 24px;
    margin: 0;
    vertical-align: middle;
    line-height: 48px;
}

nav a {
	text-decoration: none;
    height: 24px;
	border: 1px solid #2b2b2b;
	border-bottom: 3px solid #444;
	padding-left: 25px;
    padding-right: 25px;
	float: left;
}

nav a:hover:not(.active) {
	border-bottom-color:  #777;
}

#side-wrap {
	width: 17%;
    max-width: 17%;
    height: 100%;
}

#wrap {
	display: flex;
	padding-top: 48px;
	width: 100%;
	min-height: 100%;
	margin: auto;
	border-left: 3px solid #2b2b2b;
	border-right: 3px solid #2b2b2b;	
	background: #191919;
}

#side a, #navigation a {
	font-size: 16px;
    display: block;
    line-height: 24px;
}

#content-wrap {
	padding: 0;
    margin-bottom: 0;
	margin-left: 25px;
	display: flex;
	width: 100%;
}

#content {
	display: block;
	overflow: hidden;
	width: 95%;
	text-align: left;
	padding-right: 75px;
	padding-right: 50px;
	margin: 0 auto;	
	/*padding-left: 50px;*/
	margin-top: 15px;
}

#content table {
	width: 100%;
	color: #8c8c8c;
	text-align: left;
	border-collapse: collapse;
	margin-left: 20px;
}

#content table thead tr {
	font-weight: bold;
}

#content table tbody tr {
	border-bottom: 1px solid #666;
}

#content table tbody td {
	padding: 5px;
}

#content th {
	text-align: left;
	color: #8E9EAE;	
	line-height: 34px;
	font-size: 1.2em;
	font-weight: bold;
}