html, body { 
	height: 100%;
	margin: 0;
	padding: 0; 
	background: #333;
	font: 100%/130% "verdana", Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #8c8c8c;
	overflow-x: hidden;
}

/* Tag styles */
a, hr {
	transition-timing-function: ease-out;
	transition: 0.8s;
	color: #8e9eae;
	text-decoration: none;
}

a.active {
	background: #000;
	border-bottom: 3px solid #999;
}

a:hover {
	transition-timing-function: ease-out;
	transition: 0.25s;
	text-decoration: underline;
	color: #b7cce2;
}

code {
	background: #111;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 3p;
	border-radius: 3px;
	border: 1px solid #333;
}

hr {
	border: 0;
	border-bottom:  1px solid #8e9eae;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
	height: 48px;
	background: #333;
}

nav a {
	float: left;
}

nav a.active {
	border-bottom: 3px solid #eee;
}

nav a:hover {
	text-decoration: none;
	cursor: pointer;
}

nav a:hover:not(.active) {
	border-bottom-color:  #777;
}

/* Filler */ 
nav div {
    height: 30px;
    width: 231px;
    float: left;
}

/* Table style */
table {
	border-collapse: collapse;
	margin: 25px;
}

td, th {
	padding: 6px 13px;
	border: 1px solid #676767;
	color: #bbb;
}

th {
	line-height: 34px;
	font-size: 1.2em;
	font-weight: bold;
}

tr:nth-child(even) {
	background: #333;
}

tr:nth-child(odd) {
	background: #222;
}

table thead tr {
	background: #333 !important;
}
/* Table style end */

/* id selectors */
#content {
	display: block;
	overflow: hidden;
	width: 95%;
	text-align: left;
	padding-right: 75px;
	padding-right: 50px;
	margin: 0 auto;	
	margin-top: 15px;
}

#content-wrap {
	padding: 0;
    margin-bottom: 0;
	margin-left: 25px;
	display: flex;
	width: 100%;
}

#side ul li {
	display: block;
}

#side, #side-wrap {
	min-width: 225px;
	max-width: 225px;
}

#side {
	width: 15%;
	height: 100%;
	border-right: 3px solid #2b2b2b;
	background: #191919;
	margin-left: 0;
	margin-right: 0;
	min-height: 250px;
	position: fixed;
	overflow-y: overlay;
}

#side ul {
	display: inline;
}

#side ul h1 {
	text-align: center;
	padding-bottom: 24px;
    border-bottom: 3px solid #222;
    margin-bottom: 0;
}

#side-wrap {
    height: 100%;
}

#title {
	text-align: center;
    height: 24px;
    margin: 0;
    vertical-align: middle;
    line-height: 48px;
}

#wrap {
	background: #191919;
	border-left: 3px solid #2b2b2b;
	border-right: 3px solid #2b2b2b;	
	display: flex;
	padding-top: 48px;
	width: 100%;
	min-height: 100%;
	margin: auto;
}

/* Class selectors */
.button {
	border: 1px solid #2b2b2b;
	border-bottom: 3px solid #444;
	display: block;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	padding: 10px;
	padding-left: 25px !important;  /* TODO: Common class for nav a and ul a, after that remove this !important crap */
    padding-right: 25px !important;
}

.button:hover {
	text-decoration: none;
}

.button:not(.active) {
	border-bottom: 1px solid #2b2b2b;
}

.button:hover:not(.active) {
	background: #111;
	color: #dee7f1;
}

.subtitle:hover {
	text-decoration: none;
}

/* Container for subtitles */
.subtitles {
	margin-top: 15px;
	margin-bottom: 15px;
}

.subtitle {
	display: block;
	line-height: 30px;
    margin-left: 35px;
	color: #aaa;
    opacity: 0.75;
}

.subtitle:hover {
	opacity: 1.0;
}

.subtitle.selected {
	color: #fff;
	opacity: 1.0;
}

.subtitle.selected:before {
	opacity: 1.0;
}

.sub-h3 {
	margin-left: 45px;
	font-size: 14px;
}

.sub-h4 {
	margin-left: 56px;
	font-size: 12px;
}

.sub-h3:before, .sub-h4:before {
	content:url('nuclear16x16.png');
	margin-top: 10px;
	margin-right: 5px;
	opacity: 0.0;
}