{% extends 'base.html' %}
	{% block header %}
		{% block title %}fodev.net - {{ project.display_name }}{% endblock %}
	{% endblock %}
	{% block body %}
	<body>
		<nav>
			<div><h1 id="title">{{ project.display_name }}</h1></div>
			{% for p in project.pages %}
			<a class="button{% if p.route == page.route %} active{% endif %}" href="{{project.route_name}}/{{p.route}}">{{ p.name }}</a>
			{% endfor %}
		</nav>
		<div id="wrap">
			<div id="side-wrap">
				<div id="side">
					<ul>
						{% for doc in docs %}
							<a class="button{% if doc.route == doc_route %} active{% endif %}"
							href="{{project.route_name}}/{{page.route}}/{{doc.route}}">{{ doc.title }}</a>
							{% for sub in doc.subtitles %}
							<div><a class="subtitle" href="{{project.route_name}}/{{page.route}}/{{doc.route}}{{ sub.url() }}">{{sub.title}}</a></div>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="content-wrap">
				<div id="content">
						{{ html_content|safe }}
				</div>
			</div>
		</div>
	</body>
	{% endblock %}