{% extends 'base.html' %}
	{% block header %}
		{% block title %}fodev.net - {{ project.display_name }}{% endblock %}
	{% endblock %}
	{% block body %}
	<body>
		<nav>
			<div><h1 id="title">{{ project.display_name }}</h1></div>
			{% for p in project['pages'] %}
			<a {% if p == page_route %} class="active" {% endif %} href="{{project['route_name']}}/{{p}}">{{ project['pages'][p]['name'] }}</a>
			{% endfor %}
		</nav>
		<div id="wrap">
			<div id="side-wrap">
				<div id="side">
					<ul>
						{% for doc in docs %}
							<a {% if doc.route == doc_route %} class="active" {% endif %} 
							href="{{project['route_name']}}/{{page_route}}/{{doc.route}}">{{ doc.title }}</a>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="content-wrap">
				<div id="content">
						{{ html_content|safe }}
				</div>
			</div>
		</div>
	</body>
	{% endblock %}